#header
  #header-navigation
    #inner-navigation
      = link_to "Thyracker", root_path, :id => "header-logo"

      - if signed_in?
        %ul
          %li= link_to "Samples", samples_path
          %li= link_to "Charts", charts_path

      - unless signed_in?
        #header-signin
          = render 'sessions/signin_form'
      - else
        #header-signout
          = render 'sessions/signout_form'
