<!DOCTYPE html>
<html>
<head>
  <title>Thyracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <% flash.each do |key, value| %>
      <div class="flash #{key}"> <%= value %></div>
    <% end %>
  </div>

  <%= link_to 'Samples', samples_path %>

  <%= yield %>

</body>
</html>
